Windows Service Aplication/crun/crun/Web References/WebReference/IS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="receiveMachines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="machine" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Statusconnection" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveMachinesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="receiveMachinesSoapIn">
    <wsdl:part name="parameters" element="tns:receiveMachines" />
  </wsdl:message>
  <wsdl:message name="receiveMachinesSoapOut">
    <wsdl:part name="parameters" element="tns:receiveMachinesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISSoap">
    <wsdl:operation name="receiveMachines">
      <wsdl:input message="tns:receiveMachinesSoapIn" />
      <wsdl:output message="tns:receiveMachinesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISSoap" type="tns:ISSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receiveMachines">
      <soap:operation soapAction="http://tempuri.org/receiveMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISSoap12" type="tns:ISSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receiveMachines">
      <soap12:operation soapAction="http://tempuri.org/receiveMachines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IS">
    <wsdl:port name="ISSoap" binding="tns:ISSoap">
      <soap:address location="http://192.168.26.20/IS.asmx" />
    </wsdl:port>
    <wsdl:port name="ISSoap12" binding="tns:ISSoap12">
      <soap12:address location="http://192.168.26.20/IS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>